/* //! CSS bereich */

.par {
    color: darkblue;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.img {
    width: 300px;
    border: 2px solid;
    border-radius: 20px;
}