@import "../../scss/veriables";
@import "../../scss/mixins.scss";

.products-list {
  @include flex(row, space-evenly, 2rem);
  margin: 1rem;
  .card {
    width: 350px;
    height: $cardHeight;
    position: relative;
    overflow: hidden;
    .price {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $cardBgColor;
        color: $cardColor;
        padding: $cardPadding;
        font-size: .9rem;
        border-radius: $borderRadius;
        z-index: 2;
    }

    img {
      width: 100%;
      height: $cardHeight;
      border-radius: $borderRadius;
      filter: sepia(100%);
    }
    &_over{
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: $cardBgColor;
        color: darken($cardColor,50%);
        font-size: 1.2rem;
        padding: $cardPadding;
        border-radius: $borderRadius;
        transform: translateX(100%);
        transition: transform .7s;
        height: 25%;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }


    }
    &:hover .card_over{
        transform: translateX(0%);
    }
    &:hover img{
        filter: none;
    }
  }
}
