@import "../../scss/veriables";
@import "../../scss/mixins.scss";

.header{
    text-align: center;
    padding: .5rem;
    margin-top: 5rem;
    h1 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        color: $cardNavBgColor;
        font-family: monospace;
    }
    .btns{
        //*mixins.scss
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        // gap: 1rem;
        @include flex(row, center, 1rem);
        button{
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 1s;
            &:hover {
                background-color: $btnHoverColor;
            }
        }
    }
}